@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cornerImage {
  width: 20rem;
  height: 30rem;
  transition: opacity 0.5s linear;
  opacity: 1;
}
.mainImage {
  height: calc(100% - 32px);
}

.h-50rem {
  height: 50rem;
}

.border-black-dull {
  border-color: rgba(0, 0, 0, 0.2);
}